body {
  background: #f3d5df;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #150107;
  text-decoration: none;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.weather-app {
  background: #ef72a6;
  max-width: 800px;
  margin: 45px auto;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.6);
  font-size: 16px;
  padding: 15px;
  width: 70%;
  border-radius: 6px;
  outline: none;
}

.search-button {
  background-color: #ea9ec3;
  color: #000;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-button:hover {
  background-color: #d284b1;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.weather-app-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  font-family: cursive;
}

.weather-app-details {
  color: #fff0f5;
  font-size: 16px;
  line-height: 1.5;
  font-family: cursive;
}

.weather-app-details strong {
  color: #ffde59;
  font-family: cursive;
}

.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-app-temperature {
  font-size: 64px;
  font-weight: bold;
  color: #fff0f5;
  margin-left: 10px;
  font-family: cursive;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.weather-app-unit {
  font-size: 28px;
  color: #fff0f5;
  margin-left: 8px;
  font-family: cursive;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.weather-app-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-app-forecast-day {
  max-width: 100px;
  background-color: #f9f7fe;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  flex: 1;
}

.weather-app-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-app-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-app-forecast-temp {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-app-forecast-temp-max {
  padding: 0 10px;
}

.weather-app-forecast-temp-min {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 20px;
  margin-top: 40px;
  font-size: 14px;
  color: #fff5f9;
}
