body {
  background: #f3d5df;
  font-family: fantasy;
}
a {
  color: #150107;
}

.weather-app {
  background: rgb(239, 114, 166);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 50px 80px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input,
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button,
.search-form-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #ea9ec3;
  color: rgb(5, 5, 5);
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 10px;
  font-family: fantasy;
}

.weather-app-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  font-family: fantasy;
}

.weather-app-details {
  color: seashell;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.weather-app-details strong {
  color: rgb(251, 218, 2);
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 50px;
  position: relative;
  top: 10px;
  margin-left: 5px;
}

.weather-app-temperature {
  font-size: 80px;
  font-weight: bold;
  color: seashell;
  top: 10px;
  position: relative;
}

.weather-app-unit {
  font-size: 28px;
  position: relative;
  top: 10px;
  margin-left: 10px;
  font-family: fantasy;
  color: seashell;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgb(251, 236, 248);
}
